<html>
    <head>
<meta charset="UTF8">
<meta name="viewport" content="width-device-width, initial-scale=1.0">
<title>Blog</title>    
</head>
    <body>
        <div>
            <a href="/"><h1>Blog</h1></a>
        </div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/catalog/authors">All authors</a></li>
                <li><a href="/catalog/books">All books</a></li>
                <li><a href="/catalog/genres">All genres</a></li>
                <li><a href="/catalog/bookInst">All book Instances</a></li>
                <li><a href="/catalog/author/create">Add author</a></li>
                <li><a href="/catalog/book/create">Add Book</a></li>
                <li><a href="/catalog/genre/create">Add genre</a></li>
                <li><a href="/catalog/bookInst/create">Create Book Instance</a></li>

            </ul>
        </div>
<div>
    <h1>all blogs</h1>
</div>
    </body>
</html>